body {
    width: 96%;
    margin: 0 auto;
}

gridcontainer{
    width : 100%;
}

.gridbox{
    float : left;
}

.header {
    width: 96%;
}

/*header 이미지 크기와 위치 설정*/
.header img {
    width: 9%;
    margin-bottom: 0;
    text-align: center;
    float: left;
    margin-top: 3%;
}

/*header 제목 글씨 위치와 색깔, 그림자,크기 설정*/
.header h1 {
    width: 90%;
    margin-top: 4%;
    margin-bottom: 0;
    text-align: center;
    color: red;
    text-shadow: 2px 2px 2px;
    font-size: 3rem;
}

/*로그인, 검색 위치 설정과 글씨효과*/
.search {
    width: 30%;
    margin-left: 65%;
    margin-right: 0;
    margin-top: 1%;
    font-weight: bold;
}

/*하이퍼링크 색상변경과 밑줄 삭제*/
a {
    color: black;
    text-decoration: none;
}

/*로그인과 검색 사이 띄우는 설정*/
.search span {
    margin-left: 17%;
}

/*상단 메뉴 설정-상단 전체 크기와 테두리, 배경색 설정*/
.topmenu {
    width: 100%;
    margin-top: 1%;
    border: 1px solid black;
    background-color: #4CAF50;
}

/*상단 메뉴 설정-메뉴의 각 크기, 커서, 그림자, 글자색, 글자효과 설정*/
.menuitem{
    float: left;
    padding-top : 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    cursor : pointer;
    box-shadow: 1px 0px 4px black;
    color: white;
    font-weight: bold;
}

/*상단 메뉴 설정-마우스가 hover 되었을 때 색깔 변경*/
.menuitem:hover {
    background-color: lightskyblue;
}

/*왼쪽 메뉴 설정-왼쪽 메뉴 전체 크기 설정*/
.leftmenu {
    width: 12%;
    margin-top: 2%;
    margin-left: 2%;
}

/*왼쪽 메뉴 설정-메뉴의 각 크기, 커서, 배경색, 그림자, 글자색, 글자효과 설정*/
.menuitem2{
    padding : 2%;
    margin-bottom: 3%;
    cursor : pointer;
    background-color: lightgray;
    box-shadow: 1px 2px 2px black;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}


/*왼쪽 메뉴 설정-마우스가 hover 되었을 때 색깔 변경*/
.menuitem2:hover {
    background-color: azure;
}

/*중앙 꽃 박스 설정-크기, 배경색, 스크롤 설정*/
.main{
    width : 65%;
    height: 530px;
    margin-left : 1%;
    margin-top : 2%;
    margin-bottom: 0;
    padding: 1%;
    background-color: #BCE55C;
    overflow: scroll;
    }

/*중앙 꽃 박스 설정-꽃 한 세트 당 크기 설정과 위치 조정*/
.main article {
    width: 17%;
    display: inline-block;
    margin-bottom: 1%;
    margin-left: 2%;
}

/*중앙 꽃 박스 설정-이미지의 크기 설정*/
.main img{
    width : 100%;
    padding-right: 1%;
    padding-left: 1%;
}

/*중앙 꽃 박스 설정-마우스가 hover 되었을 때 크기 변경, 상세설명 추가*/
.hover:hover{
    width: 30%;
}

/*상세설명 숨기기*/
.story {
    display: none;
}

/*hover시 상세설명*/
.hover:hover .story {
    padding-left: 1%;
    width: 100%;
    height: 200px;
    display: inline-block;
    background-color: beige;
    text-align: justify center;
    overflow: hidden;
}

/*오른쪽 고정메뉴 설정-position으로 고정, 크기 설정*/
.rightmenu {
    position: fixed;
    width: 12%;
    margin-top: 30%;
    margin-left: 80%;
}

/*오른쪽 고정메뉴 설정-첫번째 메뉴 설정-커서, 글자 위치 변경*/
.menuitem31 {
    padding : 2%;
    margin-bottom: 2%;
    cursor : pointer;
    text-align: center;
}

/*오른쪽 고정메뉴 설정-나머지 메뉴 설정-커서, 배경색, 글자 위치 변경*/
.menuitem3{
    padding : 2%;
    margin-bottom: 2%;
    cursor : pointer;
    background-color: #BDBDBD;
    text-align: center;
}

/*footer 설정-크기, 나열방법 설정*/
.footer {
    width: 100%;
    float: left;
    margin-top: 0;
    margin-bottom: 5%;
}

/*footer 설정-영진 Mall 고객센터 설정*/
.footer h4 {
    margin-top: 7%;
    margin-bottom: 0;
}

/*footer 설정-전화번호, 주소 설정*/
.footer p {
    margin-top: 1%;
    margin-bottom: 1%;
}

/*하단 메뉴 설정-크기와 배경색 지정*/
.bottommenu {
    width: 100%;
    background-color: lightgray;
}

/*하단 메뉴 설정-나열방법, 커서, 글자 효과 변경*/
.menuitem4{
    float: left;
    padding-top : 0.1%;
    padding-bottom: 0.1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    cursor : pointer;
    font-weight: bold;
}